version: 2.1

jobs:
  build:
    docker:
      - image: cimg/go:1.25.6
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}

      - run:
          name: Install Dependencies
          command: go mod download

      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

      - run:
          name: Build
          command: |
            go build ./...
            echo "Build Completed!"

workflows:
  build-and-test:
    jobs:
      - build
